$color-black: #000;
$color-white: #fff;
$color-blue-primary: #1462af;
$color-blue-secondary: #5e76b1;
$color-red: #e74c3c;
$color-grey-primary: #333333;
$color-grey-secondary: #727272;
$color-grey-border: #e5e5e5;
$color-grey-background: #efefef;
