$font-family-default: "Noto Sans KR", sans-serif;
$font-family-en: "Poppins", sans-serif;
$font-family-film: "Dhurjati", sans-serif;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-36: 36px;
$font-size-48: 48px;
$font-size-72: 72px;
$font-size-96: 96px;
