@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@500;800&family=Dhurjati&display=swap");
@font-face {
  font-family: "vans";
  src: url("../fonts/vans.eot?v4ajoe");
  src: url("../fonts/vans.eot") format("embedded-opentype"),
    url("../fonts/vans.ttf") format("truetype"),
    url("../fonts/vans.woff") format("woff"),
    url("../fonts/vans.svgs") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
html {
  font-family: $font-family-default;
  font-size: $font-size-18;
  font-weight: 400;
  line-height: 1.6667;
  color: $color-grey-primary;
}
