.content {
  padding: 160px 0;
  &-header {
    margin-left: calc(#{$column-width} + #{$text-indent-sm});

    margin-bottom: 80px;
  }
  .link-text {
    display: inline-block;
    margin-top: 20px;
    i {
      display: inline-block;
      margin-left: 4px;
      transition: transform 100ms ease-in-out;
    }
    &:hover {
      i {
        transform: translateX(8px);
      }
    }
  }
  @include responsive(T) {
    padding: 80px 0;
    &-header {
      margin-bottom: 60px;
    }
    .link-text {
      margin-top: 16px;
    }
  }
  @include responsive(M) {
    padding: 40px 0;
    &-header {
      margin-left: $column-width / 2;
      margin-bottom: 40px;
    }
    .link-text {
      margin-top: 8px;
    }
  }
}
