.content {
  padding: 160px 0;
  &-header {
    margin-left: calc(#{$column-width} + #{$text-indent-sm});

    margin-bottom: 80px;
  }
  .link-text {
    display: inline-block;
    margin-top: 20px;
    i {
      display: inline-block;
      margin-left: 4px;
      transition: transform 100ms ease-in-out;
    }
    &:hover {
      i {
        transform: translateX(8px);
      }
    }
  }
}
