.footer-shortcut {
  @include flexbox(start, stretch);
  padding: 0 $column-width;
  background-color: $color-white;
  border-top: 1px solid $color-grey-border;
  .shortcut-box {
    padding: 40px 20px;
    width: 20%;
    text-align: center;
    transform: translateX(1px);
    &:not(:last-of-type) {
      border-right: 1px solid $color-grey-border;
    }
  }
  .shortcut-title {
    margin-bottom: 20px;
    font-family: $font-family-en;
    font-size: $font-size-20;
    font-weight: 500;
  }
  .sns-group {
    @include flexbox;
  }
  .sns-btn {
    @include inline-flexbox;
    width: 40px;
    height: 40px;
    border: 1px solid $color-grey-border;
    i {
      color: $color-grey-secondary;
    }
    &:last-of-type {
      margin-left: -1px;
    }
  }
  .shortcut-item {
    font-size: $font-size-14;
    line-height: 1;
    color: $color-grey-secondary;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
  .input-wrapper {
    @include flexbox(between);
    position: relative;
    width: 100%;
    border: 1px solid $color-grey-border;
    .subscribe-input {
      padding-left: 5px;
      width: 100%;
      border: none;
      background-color: transparent;
      font-size: $font-size-12;
      line-height: 30px;
      &:focus {
        outline: 1px solid $color-blue-primary;
      }
    }
    i {
      @include pos-center-y;
      right: 5px;
    }
  }

  .checkbox-wrapper {
    margin-top: 10px;
    .subscribe-checkbox {
      margin: 0;
      width: 14px;
      height: 14px;
      transform: translateY(3px);
    }
    label {
      font-size: $font-size-12;
      line-height: 1;
      color: $color-grey-secondary;
    }
    a {
      font-size: $font-size-12;
      line-height: 1;
      color: $color-blue-primary;
      text-decoration: underline;
    }
  }
}
