.global-header {
  @include flexbox(start);
  position: relative;
  z-index: 100;
  padding: 0 8.3333%;
  height: 60px;
  background-color: $color-white;
  border-bottom: 1px solid $color-grey-border;
  .logo {
    margin-left: $text-indent-sm;
    height: 35px;
    img {
      width: auto;
      height: 100%;
    }
  }
  .global-nav {
    &-list {
      @include flexbox(start);
    }
    &-item {
      margin-left: 20px;
      font-size: $font-size-16;
      font-weight: 500;
      opacity: 1;
      transition: opacity 100ms ease-in-out;
      &:hover {
        opacity: 0.6;
      }
      strong {
        color: $color-red;
      }
    }
  }
  .util-menu {
    @include flexbox(end);
    margin-left: auto;
    &-list {
      @include flexbox(start);
    }
    &-item {
      position: relative;
      transition: opacity 100ms ease-in-out;
      margin-right: 20px;

      &:hover {
        opacity: 0.6;
      }
      .badge {
        @include flexbox;
        position: absolute;
        top: -8px;
        right: -8px;
        padding: 6px;
        height: 16px;
        border-radius: 50%;
        background-color: $color-blue-secondary;
        font-size: 8px;
        color: $color-white;
      }
    }
    .search-box-btn {
      @include flexbox(between);
      padding: 0 20px;
      width: 250px;
      height: 60px;
      background-color: $color-blue-primary;
      font-size: $font-size-16;
      font-weight: 500;
      color: $color-white;
      transition: width 200ms ease-in-out;
      &.is-active {
        width: 60px;
        span {
          display: none;
        }
      }
    }
  }
  .menu-btn {
    font-size: $font-size-18;
  }
  @include responsive(D) {
    padding: 0;
  }
  @include responsive(T) {
    .util-menu {
      .search-box-btn {
        @include flexbox(between);
        width: 60px;
      }
    }
  }
  @include responsive(M) {
    height: 50px;
    .logo {
      @include pos-center;
      height: 25px;
    }
    .util-menu {
      margin-right: $column-width / 2;
      &-item {
        margin-right: 10px;
        font-size: $font-size-14;
        .badge {
          top: -10px;
          right: -10px;
          padding: 5px;
          height: 14px;
          font-size: 8px;
        }
      }
      .search-box-btn {
        display: inline-block;
        padding: 0 $text-indent-sm;
        width: auto;
        height: 50px;
        background-color: transparent;
        font-size: $font-size-14;
        color: $color-grey-primary;
      }
    }
    .menu-btn {
      @include pos-center-y;
      left: $column-width / 2;
    }
  }
}
