.mobile-menu {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: $color-white;
  transform: translateX(-100%);
  transition: transform 200ms ease-in-out;
  &.is-active {
    transform: translateX(0);
  }
  .mobile-nav {
    padding: 40px;
    &-item {
      > a {
        font-size: $font-size-24;
        font-weight: 700;
        line-height: 40px;
        strong {
          color: $color-red;
        }
      }
    }
  }
  .util-menu {
    border-top: 1px solid $color-grey-border;
    border-bottom: 1px solid $color-grey-border;
    &-item {
      padding: 0 10px;
      &:not(:last-of-type) {
        border-bottom: 1px solid $color-grey-border;
      }
      > a {
        @include flexbox(between);
        font-size: $font-size-16;
        line-height: 40px;
      }
    }
  }
  .mobile-footer {
    padding: 40px 0;
    text-align: center;
    font-size: 12px;
    .logo {
      @include flexbox;
      margin-bottom: 20px;
      height: 25px;
      img {
        width: auto;
        height: 100%;
      }
    }
    .company-info-item {
      margin-bottom: 5px;
      dt,
      dd {
        display: inline;
      }
      dt::after {
        content: ":";
        margin: 0 3px;
      }
    }
    .customer-center {
      margin-bottom: 20px;
    }
    .policy {
      margin-bottom: 20px;
    }
    .sns-btn {
      margin: 0 5px;
      font-size: 18px;
    }
  }
}
