i {
  font-family: "vans" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vans:before {
  content: "\e90c";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-box:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-chevron:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-delivery:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-info:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
