.product-card {
  position: relative;
  /*pt:72px pl,pr:80px*/
  padding: 3.75vw 4.166667vw;
  background-color: $color-white;
  border: 1px solid $color-grey-border;
  border-right: none;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    transition: background-color 100ms ease-in-out;
  }
  &:hover {
    &::after {
      background-color: $color-blue-primary;
    }
    .product-img {
      transform: scale(1.03);
    }
  }
  .img-area {
    overflow: hidden;
    border: 1px solid $color-grey-border;
  }
  .product-img {
    width: 100%;
    height: auto;
    transition: transform 400ms ease-in-out;
  }
  .info-area {
    margin-top: 20px;
  }
  .tag-group {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-red;
  }
  .tag {
    color: $color-red;
    font-size: $font-size-14;
    line-height: 1;

    &:not(:last-of-type)::after {
      content: "";
      display: inline-block;
      margin: 0 3px 0 6px;
      width: 4px;
      height: 4px;
      background-color: $color-red;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
  .product-title {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: $font-size-18;
    /*25px / 20px*/
    line-height: 1.25;
  }
  .price {
    display: inline-block;
    margin-top: 30px;
    color: $color-grey-secondary;
  }
  @include responsive(M) {
    .tag {
      font-size: $font-size-12;
    }
    .product-title {
      /*17.5 * 2*/
      height: 36px;
      font-size: $font-size-14;
    }
    .price {
      margin-top: 15px;
      font-size: $font-size-12;
    }
  }
  &::after {
    width: 12px;
    height: 12px;
  }
}
