.content-title {
  font-family: $font-family-en;
  font-size: $font-size-48;
  font-weight: 500;
  line-height: 1;
}
.link-text {
  font-size: $font-size-18;
  line-height: 1;
}
@include responsive(T) {
  .content-title {
    font-size: $font-size-36;
  }
  .link-text {
    font-size: $font-size-16;
  }
}
@include responsive(M) {
  .content-title {
    font-size: $font-size-24;
  }
  .link-text {
    font-size: $font-size-14;
  }
}
