@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@500;800&family=Dhurjati&display=swap");
html,
body {
  overflow-x: hidden; }

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important; }

@media screen and (min-width: 769px) {
  .sm-only {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .md-only {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  .md-only {
    display: none !important; } }

@media screen and (max-width: 1024px) {
  .lg-only {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .sm-hidden {
    display: none !important; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .md-hidden {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  .lg-hidden {
    display: none !important; } }

@font-face {
  font-family: "vans";
  src: url("../fonts/vans.eot");
  src: url("../fonts/vans.eot") format("embedded-opentype"), url("../fonts/vans.ttf") format("truetype"), url("../fonts/vans.woff") format("woff"), url("../fonts/vans.svgs") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6667;
  color: #333333; }

.background-pattern {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url(../images/common/grid.svg);
  background-size: 16.6667%;
  background-position: center 59px; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "vans" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e901"; }

.icon-arrow:before {
  content: "\e902"; }

.icon-box:before {
  content: "\e903"; }

.icon-cart:before {
  content: "\e904"; }

.icon-chevron:before {
  content: "\e905"; }

.icon-close:before {
  content: "\e906"; }

.icon-delivery:before {
  content: "\e907"; }

.icon-facebook:before {
  content: "\e908"; }

.icon-heart:before {
  content: "\e909"; }

.icon-info:before {
  content: "\e90a"; }

.icon-instagram:before {
  content: "\e90b"; }

.icon-search:before {
  content: "\e90c"; }

.icon-user:before {
  content: "\e90d"; }

.icon-vans:before {
  content: "\e90e"; }

.content-title {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 1; }

.link-text {
  font-size: 18px;
  line-height: 1; }

@media screen and (max-width: 1024px) {
  .content-title {
    font-size: 36px; }
  .link-text {
    font-size: 16px; } }

@media screen and (max-width: 768px) {
  .content-title {
    font-size: 24px; }
  .link-text {
    font-size: 14px; } }

.btn-primary {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  transition: opacity 200ms ease-in-out; }
  .btn-primary:hover {
    opacity: 0.8; }

.btn-black {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  transition: opacity 200ms ease-in-out; }
  .btn-black:hover {
    opacity: 0.8; }

.btn-md {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  font-size: 16px; }

.btn-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 16px; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: visibility 200ms ease-in-out, opacity 200ms ease-in-out; }
  .overlay.is-active {
    visibility: visible;
    opacity: 1; }

.container {
  width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col-lg-1 {
  width: 8.33333%; }

.col-lg-2 {
  width: 16.66667%; }

.col-lg-3 {
  width: 25%; }

.col-lg-4 {
  width: 33.33333%; }

.col-lg-5 {
  width: 41.66667%; }

.col-lg-6 {
  width: 50%; }

.col-lg-7 {
  width: 58.33333%; }

.col-lg-8 {
  width: 66.66667%; }

.col-lg-9 {
  width: 75%; }

.col-lg-10 {
  width: 83.33333%; }

.col-lg-11 {
  width: 91.66667%; }

.col-lg-12 {
  width: 100%; }

.content {
  padding: 160px 0; }
  .content-header {
    margin-left: calc(8.33333% + 10px);
    margin-bottom: 80px; }
  .content .link-text {
    display: inline-block;
    margin-top: 20px; }
    .content .link-text i {
      display: inline-block;
      margin-left: 4px;
      transition: transform 100ms ease-in-out; }
    .content .link-text:hover i {
      transform: translateX(8px); }
  @media screen and (max-width: 1024px) {
    .content {
      padding: 80px 0; }
      .content-header {
        margin-bottom: 60px; }
      .content .link-text {
        margin-top: 16px; } }
  @media screen and (max-width: 768px) {
    .content {
      padding: 40px 0; }
      .content-header {
        margin-left: 4.16667%;
        margin-bottom: 40px; }
      .content .link-text {
        margin-top: 8px; } }

.global-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 100;
  padding: 0 8.3333%;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5; }
  .global-header .logo {
    margin-left: 10px;
    height: 35px; }
    .global-header .logo img {
      width: auto;
      height: 100%; }
  .global-header .global-nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .global-header .global-nav-item {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
    transition: opacity 100ms ease-in-out; }
    .global-header .global-nav-item:hover {
      opacity: 0.6; }
    .global-header .global-nav-item strong {
      color: #e74c3c; }
  .global-header .util-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto; }
    .global-header .util-menu-list {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
    .global-header .util-menu-item {
      position: relative;
      transition: opacity 100ms ease-in-out;
      margin-right: 20px; }
      .global-header .util-menu-item:hover {
        opacity: 0.6; }
      .global-header .util-menu-item .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -8px;
        right: -8px;
        padding: 6px;
        height: 16px;
        border-radius: 50%;
        background-color: #5e76b1;
        font-size: 8px;
        color: #fff; }
    .global-header .util-menu .search-box-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      width: 250px;
      height: 60px;
      background-color: #1642af;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      transition: width 200ms ease-in-out; }
      .global-header .util-menu .search-box-btn.is-active {
        width: 60px; }
        .global-header .util-menu .search-box-btn.is-active span {
          display: none; }
  .global-header .menu-btn {
    font-size: 18px; }
  @media screen and (max-width: 1200px) {
    .global-header {
      padding: 0; } }
  @media screen and (max-width: 1024px) {
    .global-header .util-menu .search-box-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60px; } }
  @media screen and (max-width: 768px) {
    .global-header {
      height: 50px; }
      .global-header .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 25px; }
      .global-header .util-menu {
        margin-right: 4.16667%; }
        .global-header .util-menu-item {
          margin-right: 10px;
          font-size: 14px; }
          .global-header .util-menu-item .badge {
            top: -10px;
            right: -10px;
            padding: 5px;
            height: 14px;
            font-size: 8px; }
        .global-header .util-menu .search-box-btn {
          display: inline-block;
          padding: 0 10px;
          width: auto;
          height: 50px;
          background-color: transparent;
          font-size: 14px;
          color: #333333; }
      .global-header .menu-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4.16667%; } }

.footer-shortcut {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 8.33333%;
  background-color: #fff;
  border-top: 1px solid #e5e5e5; }
  .footer-shortcut .shortcut-box {
    padding: 40px 20px;
    width: 20%;
    text-align: center;
    transform: translateX(1px); }
    .footer-shortcut .shortcut-box:not(:last-of-type) {
      border-right: 1px solid #e5e5e5; }
  .footer-shortcut .shortcut-title {
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500; }
  .footer-shortcut .sns-group {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer-shortcut .sns-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e5e5e5; }
    .footer-shortcut .sns-btn i {
      color: #727272; }
    .footer-shortcut .sns-btn:last-of-type {
      margin-left: -1px; }
  .footer-shortcut .shortcut-item {
    font-size: 14px;
    line-height: 1;
    color: #727272; }
    .footer-shortcut .shortcut-item:not(:last-of-type) {
      margin-bottom: 10px; }
  .footer-shortcut .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    border: 1px solid #e5e5e5; }
    .footer-shortcut .input-wrapper .subscribe-input {
      padding-left: 5px;
      width: 100%;
      border: none;
      background-color: transparent;
      font-size: 12px;
      line-height: 30px; }
      .footer-shortcut .input-wrapper .subscribe-input:focus {
        outline: 1px solid #1642af; }
    .footer-shortcut .input-wrapper i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px; }
  .footer-shortcut .checkbox-wrapper {
    margin-top: 10px; }
    .footer-shortcut .checkbox-wrapper .subscribe-checkbox {
      margin: 0;
      width: 14px;
      height: 14px;
      transform: translateY(3px); }
    .footer-shortcut .checkbox-wrapper label {
      font-size: 12px;
      line-height: 1;
      color: #727272; }
    .footer-shortcut .checkbox-wrapper a {
      font-size: 12px;
      line-height: 1;
      color: #1642af;
      text-decoration: underline; }
  @media screen and (max-width: 1024px) {
    .footer-shortcut {
      padding: 0; } }
  @media screen and (max-width: 768px) {
    .footer-shortcut .shortcut-box {
      padding: 40px 20px;
      width: 100%; } }

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8.33333%;
  background-color: #5e76b1;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  line-height: 20px; }
  .footer-info strong {
    color: #1642af;
    font-weight: 400; }
  .footer-info .logo {
    height: 25px; }
    .footer-info .logo img {
      width: auto;
      height: 100%; }
  .footer-info .company-info {
    width: 50%; }
    .footer-info .company-info-item {
      display: inline; }
      .footer-info .company-info-item:not(:last-of-type)::after {
        content: "/";
        margin: 0 3px;
        font-size: 10px;
        line-height: 14px; }
    .footer-info .company-info dt,
    .footer-info .company-info dd {
      display: inline; }
    .footer-info .company-info dt::after {
      content: ":";
      margin: 0 3px; }
    .footer-info .company-info .customer-center {
      color: #1642af; }
    .footer-info .company-info-text {
      display: block; }
  .footer-info .insurance {
    width: 30%; }
    .footer-info .insurance-title {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 400; }
    .footer-info .insurance-link {
      text-decoration: underline; }
  @media screen and (max-width: 768px) {
    .footer-info {
      flex-direction: column;
      padding: 40px 4.16667%;
      font-size: 10px; }
      .footer-info .logo {
        margin-bottom: 20px; }
      .footer-info .company-info {
        width: 100%;
        white-space: nowrap; }
        .footer-info .company-info-item {
          display: block;
          text-align: center; }
          .footer-info .company-info-item:not(:last-of-type)::after {
            content: ""; }
        .footer-info .company-info-text {
          text-align: center; }
      .footer-info .policy a:first-of-type::after {
        content: "/";
        margin: 0 4px;
        color: #1642af; } }

.search-box {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 800px;
  height: 41.6667vw;
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: translateX(-100%);
  transition: transform 200ms ease-in-out; }
  .search-box.is-active {
    transform: translateX(0); }
  .search-box-group {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0 auto;
    width: 83.33333%;
    height: 100%; }
  .search-box-left, .search-box-right {
    width: 50%;
    height: 100%; }
  .search-box-left {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-right: 1px solid #000; }
    .search-box-left .search-item-wrapper {
      width: 50%;
      height: 50%; }
    .search-box-left .search-item-big {
      height: 100%; }
    .search-box-left .search-item-small {
      height: 50%; }
    .search-box-left .search-item-bg {
      position: relative;
      padding: 20px;
      /*20px / 1920px * 100*/
      padding: 1.041667vw;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
      .search-box-left .search-item-bg .search-item-title {
        font-size: 20px;
        font-weight: 700; }
    .search-box-left .search-item-text {
      /*pt,pb:60px pr,pl:20 / 1920px * 100*/
      padding: 3.125vw 1.041667vw; }
      .search-box-left .search-item-text .search-item-title {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 700; }
      .search-box-left .search-item-text .link-text {
        font-size: 14px;
        font-weight: 500; }
    .search-box-left .search-item-1 {
      background-image: url(../images/common/search-box_1.jpg);
      color: #fff; }
      .search-box-left .search-item-1 .link-overlay {
        justify-content: end; }
    .search-box-left .search-item-3 {
      background-image: url(../images/common/search-box_2.jpg);
      color: #fff; }
    .search-box-left .search-item-5 {
      background-image: url(../images/common/search-box_3.jpg);
      color: #fff; }
    .search-box-left .search-item-6 {
      background-image: url(../images/common/search-box_4.jpg); }
    .search-box-left .link-overlay {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      position: absolute;
      top: 0;
      left: 0;
      /*pt,pb:20px pr,pl:40px / 1920px * 100*/
      padding: 1.041667vw 2.083333vw;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      /*36px / 1920px *100*/
      font-size: 1.875vw;
      font-weight: 700;
      color: #fff;
      opacity: 0;
      transition: opacity 200ms ease-in-out; }
      .search-box-left .link-overlay:hover {
        opacity: 1; }
  .search-box-right .search-item {
    /*pt,pb:60px pr,pl:100px / 1920px * 100*/
    padding: 3.125vw 5.208333vw;
    height: 50%; }
    .search-box-right .search-item:first-child {
      border-bottom: 1px solid #000; }
    .search-box-right .search-item-title {
      /*40px / 1920px *100*/
      margin-bottom: 2.08333vw;
      font-size: 36px;
      font-weight: 700; }
  .search-box-right .input-wrapper {
    position: relative; }
  .search-box-right .search-input {
    padding: 0 10px;
    width: 100%;
    border-bottom: 1px solid #333333;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    line-height: 40px; }
    .search-box-right .search-input::placeholder {
      color: #e5e5e5; }
  .search-box-right .search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 16px; }
  .search-box-right .trending-keywords-list {
    padding-left: 20px; }
  .search-box-right .trending-keywords-item {
    font-size: 18px;
    font-weight: 700; }
    .search-box-right .trending-keywords-item:not(:last-child) {
      /*24px / 1920px *100*/
      margin-bottom: 1.25vw; }
  @media screen and (max-width: 1200px) {
    .search-box-left .search-item-bg .search-item-title {
      font-size: 14px; }
    .search-box-left .search-item-text {
      padding: 20px 10px; }
      .search-box-left .search-item-text .search-item-title {
        font-size: 18px; }
    .search-box-right .search-item {
      padding: 20px 25px; }
      .search-box-right .search-item-title {
        font-size: 24px; } }
  @media screen and (max-width: 1024px) {
    .search-box {
      top: 50px;
      height: calc(100vh - 50px); }
      .search-box-group {
        align-items: start;
        flex-direction: column-reverse;
        width: 100%;
        overflow-y: scroll; }
      .search-box-left, .search-box-right {
        width: 100%;
        height: auto; }
      .search-box-left .search-item-wrapper {
        height: 50vw; }
      .search-box-left .search-item-bg .search-item-title {
        font-size: 14px; }
      .search-box-left .search-item-text {
        padding: 20px 10px; }
        .search-box-left .search-item-text .search-item-title {
          font-size: 18px; }
      .search-box-left .link-overlay {
        padding: 20px 40px;
        font-size: 20px; }
      .search-box-right .search-item {
        margin: 60px 0;
        padding: 0;
        height: auto; }
        .search-box-right .search-item:first-child {
          border-bottom: none; }
        .search-box-right .search-item-title {
          font-size: 24px; }
        .search-box-right .search-item-title {
          padding-left: 10px; } }
  @media screen and (max-width: 768px) {
    .search-box-left {
      display: block; }
    .search-box .search-item-wrapper {
      width: 100%;
      height: 100vw; } }

/*# sourceMappingURL=common.css.map */