.product-card {
  position: relative;
  /*pt:72px pl,pr:80px*/
  padding: 3.75vw 4.166667vw;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-right: none;
  cursor: pointer; }
  .product-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    transition: background-color 100ms ease-in-out; }
  .product-card:hover::after {
    background-color: #1642af; }
  .product-card:hover .product-img {
    transform: scale(1.03); }
  .product-card .img-area {
    overflow: hidden;
    border: 1px solid #e5e5e5; }
  .product-card .product-img {
    width: 100%;
    height: auto;
    transition: transform 400ms ease-in-out; }
  .product-card .info-area {
    margin-top: 20px; }
  .product-card .tag-group {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #e74c3c; }
  .product-card .tag {
    color: #e74c3c;
    font-size: 14px;
    line-height: 1; }
    .product-card .tag:not(:last-of-type)::after {
      content: "";
      display: inline-block;
      margin: 0 3px 0 6px;
      width: 4px;
      height: 4px;
      background-color: #e74c3c;
      border-radius: 50%;
      vertical-align: middle; }
  .product-card .product-title {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px;
    /*25px / 20px*/
    line-height: 1.25; }
  .product-card .price {
    display: inline-block;
    margin-top: 30px;
    color: #727272; }
  @media screen and (max-width: 768px) {
    .product-card .tag {
      font-size: 12px; }
    .product-card .product-title {
      /*17.5 * 2*/
      height: 36px;
      font-size: 14px; }
    .product-card .price {
      margin-top: 15px;
      font-size: 12px; }
    .product-card::after {
      width: 12px;
      height: 12px; } }

/*30px / 1920px *100*/
/*40px / 1920px *100*/
.collection-item-card {
  position: relative;
  /*pt:30px pr,pb,pl:40px / 1920px * 100*/
  padding: 1.5625vw 2.0833vw 2.0833vw;
  /*486px/1920px*100*/
  height: 25.3125vw;
  background-color: #efefef;
  cursor: pointer; }
  .collection-item-card:first-of-type {
    border-right: 1px solid #fff; }
  .collection-item-card .tag-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*20px / 1920px * 100*/
    margin-bottom: 1.04166vw; }
  .collection-item-card .like-btn {
    position: absolute;
    top: 1.5625vw;
    left: 2.0833vw;
    font-size: 18px;
    transition: transform 100ms ease-in-out, color 100ms ease-in-out; }
    .collection-item-card .like-btn:hover {
      transform: scale(1.1);
      color: #e74c3c; }
  .collection-item-card .tag {
    display: block;
    margin-left: auto;
    font-size: 16px;
    line-height: 1; }
  .collection-item-card .img-area {
    margin-bottom: 10px; }
  .collection-item-card .info-area {
    position: absolute;
    bottom: 2.0833vw;
    left: 2.0833vw; }
  .collection-item-card .collection-item-title {
    /*10px / 1920px * 100*/
    margin-bottom: 0.520833vw;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    /*25px/18px*/
    line-height: 1.3889; }
  .collection-item-card .collection-item-price {
    font-size: 14px;
    line-height: 1;
    color: #727272; }
  @media screen and (max-width: 1200px) {
    .collection-item-card .collection-item-title {
      height: 36px;
      font-size: 14px;
      line-height: 18px; }
    .collection-item-card .collection-item-price {
      font-size: 12px; } }
  @media screen and (max-width: 1024px) {
    .collection-item-card {
      /* 400px/ 768px * 100 */
      height: 52.08333vw; } }
  @media screen and (max-width: 768px) {
    .collection-item-card .like-btn {
      font-size: 14px; }
    .collection-item-card .tag {
      font-size: 12px; } }

.news-card {
  position: relative;
  /*pt,pb:50px pr,pl:60px /1920px *100*/
  padding: 2.60416vw 3.125vw;
  width: 25%;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-right: none;
  cursor: pointer; }
  .news-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    transition: background-color 100ms ease-in-out; }
  .news-card:hover::after {
    background-color: #1642af; }
  .news-card:hover .news-img img {
    opacity: 0.6;
    transform: scale(1); }
  .news-card .news-info {
    /* 60px / 1920px * 100*/
    margin-bottom: 3.125vw; }
  .news-card .date {
    display: block;
    /*26px / 1920px * 100*/
    margin-bottom: 1.35416vw;
    font-size: 12px;
    line-height: 1;
    color: #727272; }
  .news-card .category {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1; }
    .news-card .category::before {
      content: "[";
      margin-right: 2px; }
    .news-card .category::after {
      content: "]";
      margin-left: 2px; }
  .news-card .news-title {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3888889; }
  .news-card .news-img {
    overflow: hidden;
    background-color: #000; }
    .news-card .news-img img {
      transform: scale(1.03);
      width: 100%;
      height: auto;
      transition: opacity 400ms ease-in-out, transform 400ms ease-in-out; }
  @media screen and (max-width: 1024px) {
    .news-card {
      width: 33.3333%; } }
  @media screen and (max-width: 768px) {
    .news-card {
      flex-shrink: 0;
      width: 45%; }
      .news-card .news-title {
        height: 40px;
        font-size: 14px;
        line-height: 20px; } }

.main .content-body {
  display: flex;
  align-items: flex-start;
  justify-content: center; }

.main .fixed-area {
  width: 41.66667%;
  /*120px / 1920px *100*/
  margin-top: 6.25vw;
  padding-left: 13.54167vw; }
  .main .fixed-area .main-title {
    font-family: "Poppins", sans-serif;
    font-size: 96px;
    font-weight: 800;
    line-height: 1; }

.main .scroll-area {
  width: 58.33333%; }
  .main .scroll-area .main-slide {
    /*100px / 1920px *100*/
    margin-bottom: 5.20833vw;
    width: 43.75vw; }
    .main .scroll-area .main-slide-image {
      width: 100%;
      height: auto; }
  .main .scroll-area .style-item {
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 96px;
    font-weight: 800;
    line-height: 1;
    text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;
    color: #fff;
    transition: color 200ms ease-in-out; }
    .main .scroll-area .style-item:hover {
      color: #333333; }
    .main .scroll-area .style-item:not(:last-child) {
      /*60px / 1920px *100*/
      margin-bottom: 3.125vw; }

@media screen and (max-width: 1200px) {
  .main .fixed-area .main-title {
    font-size: 72px; }
  .main .scroll-area .style-item {
    font-size: 72px; } }

@media screen and (max-width: 1024px) {
  .main .content-body {
    align-items: center;
    flex-direction: column; }
  .main .fixed-area,
  .main .scroll-area {
    width: 66.66667%; }
  .main .fixed-area {
    padding-left: 10px;
    margin-bottom: 40px; }
  .main .scroll-area {
    margin: 0; }
    .main .scroll-area .main-slide {
      width: 100%; } }

@media screen and (max-width: 768px) {
  .main .fixed-area,
  .main .scroll-area {
    padding: 0 4.16667%;
    width: 100%; }
  .main .fixed-area {
    margin-bottom: 20px; }
    .main .fixed-area .main-title {
      /*36px / 320px *100*/
      font-size: 11.25vw; }
  .main .scroll-area .style-item {
    margin-left: 0;
    /*36px / 320px *100*/
    font-size: 11.25vw; } }

.product-slide {
  width: 100%; }
  .product-slide .slide-util {
    margin-top: 68px;
    position: relative; }
  .product-slide .slide-controls {
    display: flex;
    align-items: center;
    justify-content: center; }
    .product-slide .slide-controls-btn {
      margin: 0 120px;
      margin-top: 4px;
      font-size: 32px;
      color: #333333; }
      .product-slide .slide-controls-btn i {
        display: inline-block; }
      .product-slide .slide-controls-btn.is-prev i {
        transform: rotate(180deg); }
  .product-slide .slide-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .product-slide .slide-nav-list {
      display: flex;
      align-items: center;
      justify-content: center; }
    .product-slide .slide-nav-item {
      margin: 0 20px; }
      .product-slide .slide-nav-item.tns-nav-active .slide-nav-btn {
        background-color: #5e76b1; }
    .product-slide .slide-nav-btn {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #727272; }
  @media screen and (max-width: 1024px) {
    .product-slide .slide-nav-item {
      margin: 0 14px; } }
  @media screen and (max-width: 768px) {
    .product-slide .slide-util {
      margin-top: 20px; }
    .product-slide .slide-controls-btn {
      margin: 0 120px;
      margin-top: 4px;
      font-size: 18px; }
    .product-slide .slide-nav-item {
      margin: -4px 10px 0; }
    .product-slide .slide-nav-btn {
      width: 12px;
      height: 12px; } }

.whats-your-style .film-wrapper {
  position: relative;
  /*1430px / 1920px * 100*/
  width: 74.4791%;
  padding-bottom: 26%; }

.whats-your-style .film-inner {
  position: absolute;
  top: 0;
  left: 0;
  /*480px/1430px*100*/
  padding-bottom: 33.56643%;
  width: 100%; }

.whats-your-style .film {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  /*pt:74px, pb: 70px,/ 1430px*/
  padding: 5.17482% 0 4.8951% 0;
  width: 100%;
  height: 100%; }

.whats-your-style .film-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: auto;
  pointer-events: none; }

.whats-your-style .film-item {
  position: relative;
  /*265px/1430px*100*/
  width: 18.04195%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer; }
  .whats-your-style .film-item:nth-of-type(1) {
    /*15px/1420px*100*/
    margin-left: 1.05633%;
    background-image: url(../images/index/vans_style_1.jpg); }
  .whats-your-style .film-item:nth-of-type(2) {
    /*30px/1420px*100*/
    margin-left: 2.11267%;
    background-image: url(../images/index/vans_style_2.jpg); }
  .whats-your-style .film-item:nth-of-type(3) {
    /*22px/1420px*100*/
    margin-left: 1.54929%;
    background-image: url(../images/index/vans_style_3.jpg); }
  .whats-your-style .film-item:nth-of-type(4) {
    /*22px/1420px*100*/
    margin-left: 1.54929%;
    background-image: url(../images/index/vans_style_4.jpg); }
  .whats-your-style .film-item:nth-of-type(5) {
    /*22px/1420px*100*/
    margin-left: 1.54929%;
    background-image: url(../images/index/vans_style_5.jpg); }
  .whats-your-style .film-item .info-area {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    transition: visibility 100ms ease-in-out; }
  .whats-your-style .film-item:hover .info-area {
    visibility: visible; }
  .whats-your-style .film-item .film-title {
    font-family: "Dhurjati", sans-serif;
    font-size: 28px;
    color: #ff793f;
    text-transform: uppercase; }

.whats-your-style .content-desc {
  margin-top: 80px;
  margin-left: auto;
  margin-right: calc(8.33333% + 10px);
  width: 45.5%;
  font-size: 20px;
  text-align: right;
  line-height: 1.7; }

@media screen and (max-width: 1200px) {
  .whats-your-style .film-wrapper {
    width: 90%;
    padding-bottom: 33%; }
  .whats-your-style .content-desc {
    margin-top: 60px;
    margin-right: 4.16667%;
    width: 60%;
    font-size: 18px; } }

@media screen and (max-width: 768px) {
  .whats-your-style .film-container {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    .whats-your-style .film-container::-webkit-scrollbar {
      display: none; }
  .whats-your-style .film-wrapper {
    width: 200%;
    padding-bottom: 70%; }
  .whats-your-style .content-desc {
    margin: 20px auto 0;
    padding: 0 4.16667%;
    width: 100%;
    font-size: 12px;
    text-align: left; } }

.collection-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  width: 83.33333%; }

.collection-left, .collection-right {
  width: 50%; }
  .collection-left img, .collection-right img {
    width: 100%;
    height: auto; }

.collection-left {
  position: relative; }

.collection-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff; }

.collection-title {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 1; }

.collection-desc {
  margin-bottom: 20px;
  /*18px / 1920px * 100*/
  font-size: 0.9375vw;
  line-height: 1.4; }

.collection-item-group {
  display: flex;
  align-items: center;
  justify-content: center; }

.collection .link-text {
  display: block;
  margin: 40px auto 0;
  padding-right: 10px;
  width: 83.33333%;
  text-align: right; }

@media screen and (max-width: 1024px) {
  .collection-wrapper {
    flex-direction: column; }
  .collection-left, .collection-right {
    width: 100%; }
  .collection-info {
    padding: 60px 40px; }
  .collection-desc {
    font-size: 14px; }
  .collection .link-btn {
    margin: 20px 0; } }

@media screen and (max-width: 768px) {
  .collection-wrapper {
    padding: 0 4.16667%;
    width: 100%; }
  .collection-info {
    padding: 20px 16px; }
  .collection-title {
    margin-bottom: 10px;
    font-size: 24px; }
  .collection-desc {
    font-size: 12px;
    font-weight: 300; } }

.campaign {
  position: relative;
  color: #fff; }
  .campaign .banner-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* 150px / 1920px * 100*/
    top: calc(160px + 7.8125vw);
    z-index: 10;
    width: 100%;
    text-align: center; }
  .campaign .banner-title {
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    /*72px / 1920px *100*/
    font-size: 3.75vw;
    font-weight: 800;
    line-height: 1; }
  .campaign .banner-sub-title {
    font-size: 20px;
    line-height: 1; }
  .campaign-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 66.66667%; }
  .campaign-item {
    position: relative;
    overflow: hidden;
    width: 50%;
    background-color: #000; }
    .campaign-item:hover .campaign-img {
      opacity: 0.9;
      transform: scale(1.02); }
  .campaign-img {
    width: 100%;
    height: auto;
    opacity: 0.6;
    transition: opacity 200ms ease-in-out, transform 300ms ease-in-out; }
  .campaign-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*180px / 1920px *100*/
    bottom: 9.375vw;
    z-index: 10;
    width: 100%;
    text-align: center; }
  .campaign-title {
    /*40px / 1920px *100*/
    margin-bottom: 2.083333vw;
    /*36px / 1920px *100*/
    font-size: 1.875vw; }
  .campaign .link-btn {
    margin: 0 auto; }
  .campaign .link-text {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    color: #333333; }
  @media screen and (max-width: 1200px) {
    .campaign .banner-sub-title {
      font-size: 14px; } }
  @media screen and (max-width: 1024px) {
    .campaign .banner-header {
      top: calc(80px + 7.8125vw); }
    .campaign .banner-title {
      font-size: 48px; }
    .campaign-item {
      width: 100%;
      display: none; }
      .campaign-item.is-active {
        display: block; }
    .campaign-info {
      /*180px / 768px *100*/
      bottom: 23.4375vw; }
    .campaign-title {
      font-size: 24px; }
    .campaign .tab-btn-group {
      margin-top: 40px;
      text-align: center; }
    .campaign .tab-btn:first-child::after {
      content: "/";
      margin: 0 10px 0 14px;
      font-size: 20px;
      color: #727272; }
    .campaign .tab-btn span {
      font-size: 20px;
      font-weight: 700;
      color: #727272; }
    .campaign .tab-btn.is-active span {
      color: #333333;
      border-bottom: 1px solid #333333; } }
  @media screen and (max-width: 768px) {
    .campaign .banner-header {
      top: calc(40px + 15%); }
    .campaign .banner-title {
      font-size: 24px; }
    .campaign .banner-sub-title {
      font-size: 8px; }
    .campaign-wrapper {
      padding: 0 4.16667%;
      width: 100%; }
    .campaign-title {
      margin-bottom: 24px;
      font-size: 18px; }
    .campaign .tab-btn-group {
      margin-top: 20px; }
    .campaign .tab-btn:first-child::after {
      margin: 0 5px 0 7px;
      font-size: 12px; }
    .campaign .tab-btn span {
      font-size: 12px; } }

.news .content-body {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .news .content-body::-webkit-scrollbar {
    display: none; }

.news-card-group {
  display: flex;
  flex-wrap: nowrap; }

/*200px / 1920px *100*/
.explore-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

.explore-left, .explore-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%; }

.explore-item {
  /*30px /1920px *100*/
  padding-top: 1.5625vw;
  padding-left: 10px;
  width: 33.3333%; }
  .explore-item > a {
    display: inline-block;
    width: 100%;
    height: 100%; }
  .explore-item:hover .explore-title {
    opacity: 0.8;
    text-decoration: underline; }

.explore-left .explore-item {
  height: 10.4167vw;
  border-right: 1px solid #000; }

.explore-left .explore-title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  line-height: 1; }
  .explore-left .explore-title i {
    display: inline-block;
    margin-right: 3px; }

.explore-right .explore-item {
  height: 5.20835vw; }
  .explore-right .explore-item:nth-of-type(3) ~ .explore-item {
    border-top: 1px solid #000; }
  .explore-right .explore-item:not(:nth-of-type(3n)) {
    border-right: 1px solid #000; }

.explore-right .explore-title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 1; }
  .explore-right .explore-title i {
    display: inline-block;
    margin-right: 3px; }

@media screen and (max-width: 1024px) {
  .explore-wrapper {
    flex-direction: column; }
  .explore-left, .explore-right {
    width: 100%; }
  .explore-left {
    border-bottom: 1px solid #000; }
    .explore-left .explore-title {
      font-size: 16px; }
    .explore-left .explore-item {
      height: 10.4167vw; }
      .explore-left .explore-item:nth-of-type(3) {
        border-right: none; }
  .explore-right .explore-title {
    font-size: 14px; } }

@media screen and (max-width: 768px) {
  .explore-left {
    flex-direction: column; }
    .explore-left .explore-item {
      width: 100%;
      border-right: none; }
      .explore-left .explore-item:not(:last-of-type) {
        border-bottom: 1px solid #000; }
  .explore-right .explore-item {
    width: 50%;
    height: 10.4167vw;
    border-bottom: 1px solid #000; }
    .explore-right .explore-item:nth-of-type(2n-1) {
      border-right: 1px solid #000; }
    .explore-right .explore-item:nth-of-type(2n) {
      border-right: none; }
    .explore-right .explore-item:nth-of-type(3) ~ .explore-item {
      border-top: none; }
    .explore-right .explore-item:nth-child(4) ~ .explore-item {
      border-bottom: none; } }

.service {
  padding: 0 0 160px; }
  .service-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 8.33333%;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; }
  .service-item {
    padding: 40px;
    width: 25%;
    height: 320px;
    text-align: center; }
    .service-item:not(:last-of-type) {
      border-right: 1px solid #e5e5e5; }
    .service-item i {
      display: inline-block;
      height: 48px;
      font-size: 48px;
      vertical-align: middle; }
    .service-item:nth-of-type(2) i {
      font-size: 40px; }
    .service-item:nth-of-type(4) i {
      font-size: 26px; }
  .service .icon-group {
    display: flex;
    align-items: center;
    justify-content: center; }
    .service .icon-group i {
      position: relative;
      top: 10px;
      margin: 0 15px; }
      .service .icon-group i:hover {
        color: #1642af; }
  .service-title {
    margin: 10px 0 20px;
    font-size: 20px;
    font-weight: 500; }
  .service-desc {
    font-size: 14px;
    line-height: 20px; }
  .service-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    text-decoration: underline; }
  @media screen and (max-width: 1024px) {
    .service {
      padding-bottom: 80px; }
      .service-item {
        width: 50%; }
        .service-item:nth-of-type(1), .service-item:nth-of-type(2) {
          border-bottom: 1px solid #e5e5e5; }
        .service-item:nth-of-type(2) {
          border-right: none; }
      .service .icon-group i {
        margin: 0 7px; }
      .service-title {
        margin: 10px 0 20px;
        font-size: 16px; }
      .service-desc {
        font-size: 12px;
        line-height: 20px; } }
  @media screen and (max-width: 768px) {
    .service {
      padding-bottom: 40px; }
      .service-wrapper {
        padding: 0 4.16667%; }
      .service-item {
        padding: 10px; }
      .service-desc {
        font-size: 8px;
        line-height: 10px; } }

/*# sourceMappingURL=index.css.map */